description = "Contact layout"

[staticPage]
useContent = 1
default = 0
==
<!DOCTYPE html>
<html lang="ru">
  <head>
    {% partial "meta.htm" %}
  </head>
  <body>
    {% partial "loading.htm" %}
    <!-- header start -->
    {% partial "header.htm" %}
    <!-- header end -->
    <main class="is-page">
      {% partial "hero-page.htm" %}
      <div class="page">
        <div class="page__container container">
          <div class="post">
            <div class="post__content">
              <h1 class="post__title">Контакты</h1>
              <div class="post__body">
                <p><strong>Название:</strong> <span>ООО "Авто-Лидер и Партнёры"</span></p>
                <p><strong>ИНН</strong> 5032315980</p>
                <p><strong>ОГРН</strong> 1205000013041</p>
                <p><strong>Тел:</strong> <span>+7(937)096-15-25</span></p>
                <p><strong>Тел:</strong> <span>+7(937)555-33-25</span></p>
                <p><strong>E-mail:</strong> <span>dir@автолидер-партнеры.рф</span></p>
                <p>
                  <strong>Адрес:</strong>
                  <span>ул. Пушкина, 101б</span>,
                  <span>Волжский</span>, Волгоградская обл.,
                  <span>404118</span>
                </p>
                <p><strong>Режим работы:</strong> Ежедневно: 9:00–23:00</p>
                <div>{% component 'staticPage' %}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="page__map">
          <div id="map" class="page__map-container"></div>
          <div class="loading loading--map">
            <div class="loading__wrapper">
              <div class="loading__layer">
                <div class="loading__circle-clipper loading__circle-clipper--left">
                  <div class="loading__circle"></div>
                </div>
                <div class="loading__gap-path">
                  <div class="loading__circle"></div>
                </div>
                <div class="loading__circle-clipper loading__circle-clipper--right">
                  <div class="loading__circle"></div>
                </div>
              </div>
            </div>
          </div>
          <picture class="page__map-image">
            <source srcset="{{ 'assets/images/map/map-placeholder.webp'|theme }}" type="image/webp" />
            <source srcset="{{ 'assets/images/map/map-placeholder.jpg'|theme }}" type="image/jpeg" />
            <img src="{{ 'assets/images/map/map-placeholder.jpg'|theme }}" alt="Волжский, ул. Пушкина, 101б">
          </picture>
        </div>
      </div>
    </main>

    {% partial "footer.htm" %}

    <div class="popup" data-js-action="popup" data-modal="form">
      <div class="popup__dialog">
        <div class="popup__content" data-js-action="popup-body">
          <button type="button" class="popup__close" data-js-action="close-popup">
            <svg viewBox="0 0 14 14" class="popup__close-ico icon-popup-close">
              <path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z" fill="currentColor"></path>
            </svg>
          </button>
          {% component 'form' %}
        </div>
      </div>
    </div>

    {% partial "scripts.htm" %}
  </body>
</html>