<section class="hero">
  <div class="hero__container container">
    <div class="hero__content">
      <h1 class="hero__title">Ремонт и обслуживание автомобилей в Волжском</h1>
      <button type="button" class="button button-arrow" data-js-action="open-popup" data-modal-for="form">
        Оставить заявку
        <svg viewBox="0 0 12 11" class="button__ico icon-arrow-right ">
          <path d="M6.00002 10.9333L5.06002 9.99335L8.78002 6.26668L0.666687 6.26668L0.666687 4.93335L8.78002 4.93335L5.06002 1.20668L6.00002 0.266684L11.3334 5.60002L6.00002 10.9333Z" fill="white"></path>
        </svg>
      </button>
    </div>
  </div>
</section>