<div class="hero hero--page">
  <div class="hero__container container">
    <div class="hero__content">
      <!-- breadcrumbs start-->
      <div class="hero__breancrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList" id="breadcrumbs">
        <div class="hero__breancrumbs-item" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
          <a rel="nofollow" itemprop="item" title="Главная" href="https://автолидер-партнеры.рф" class="hero__breancrumbs-link">
            <span itemprop="name">Главная</span>
            <meta itemprop="position" content="1">
          </a>
          <svg class="hero__breancrumbs-arrow" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.70492 0L0.294922 1.41L4.87492 6L0.294922 10.59L1.70492 12L7.70492 6L1.70492 0Z" fill="currentColor"/>
          </svg>
        </div>
        <div class="hero__breancrumbs-item" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
          <a itemprop="item" title="{{ this.page.title }}" href="https://автолидер-партнеры.рф{{ this.page.url }}" class="hero__breancrumbs-link">
            <span itemprop="name">{{ this.page.title }}</span>
            <meta itemprop="position" content="1">
          </a>
        </div>
      </div>
      <!-- breadcrumbs end -->
    </div>
  </div>
</div>