@mixin placeholder($color) {
  &::-moz-placeholder {
    color: $color;
    opacity: 1;
  }
  &::-webkit-input-placeholder {
    color: $color;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: $color;
    opacity: 1;
  }
  &::-ms-input-placeholder {
    color: $color;
    opacity: 1;
  }
  &::placeholder {
    color: $color;
    opacity: 1;
  }
}
